body {
 margin: 0px;
 padding: 0px;
}

.dropdown {
 left: auto;
}

.vocal {
 padding: 5px;
 padding-bottom: 8px;
 margin-bottom: 5px;
 border-radius: 15px;
}

.p1{
 font-size: 20px;
}

.achieve{
 align-content: center;
 text-align: left;
 margin: auto;
}